$blue: #56C4C5;

*,*::after,*::before{
    box-sizing: border-box;
    //outline: 1px solid black;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.pricing-wrap{
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}
.pricing-title{
    text-align: center;
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
}
@media (max-width: 375px){
    .pricing-title{        
        font-size: 28px;
        line-height: 40px;
        padding: 0 20px;
    }
}
.pricing-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    margin: 0 auto;
    max-width: 1088px;
    .logo{
        background-image: url(../image/logo.png);
        background-size: cover;
        display: block;
        width: 218px;
        height: 40px;

        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .planCost{
        color: white;
        background: #FF5D50;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 32px;
        border-radius: 22px;
        &:hover{
            background: $blue;
        }
    }
}
.blueBackground{
    background-image: url(../image/banner.svg);
    background-position: top right;
    background-repeat: no-repeat;
    height: 559px;
}
.blueBackground:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 470px;
    border-radius: 0px 0px 0px 150px;
    background-color: #F7F9FD;
    z-index: -1;
}
.pricing-banner{
    margin: 116px auto 0;
    padding: 0 20px;
    max-width: 1088px;
    .slogan{
        h2{
            font-size: 48px;
            font-weight: bold;
            line-height: 70px;
            margin-top: 8px;
        }
        h4{
            font-size: 20px;
            line-height: 29px;
            margin-top: 16px;
        }
    }
}
.gotop{
    position: fixed;
    right: 3%;
    bottom: 3%;
    &:hover{
        opacity: 0.8;
    }
}
.orangeBall{
    background-image: url(../image/ball03.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 94px;
    height: 361px;
    left: 0;
    top: 128vh;
}
@media (max-width: 375px){
    .pricing-header{
        padding: 16px 20px;
        border-bottom: 2px solid #FFD153;
        background: white;
        .logo{            
            width: 130px;
            height: 24px;
        }
    }
    .blueBackground{
        background-image: url(../image/banner_sm.svg);
        background-position: right bottom;
        height: 567px;
        margin-bottom: 60px;
    }
    .blueBackground:after{
        height: 567px;
    }
    .pricing-banner{
        margin-top: 40px;
        width: 90%;
        .slogan{
            h2{
                font-size: 32px;                
                line-height: 46px;                
            }
            h4{
                font-size: 16px;
                line-height: 24px;                
            }
        }
    }
    .gotop{
        width: 50px;
        height: 50px;
    }
    .orangeBall{
        width: 80px;
        height: 175px;
        top: 230vh;
    }
}
.pricing-content{
    max-width: 1088px;
    margin: 0 auto;
}
.plan-choose{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    overflow-x: auto;
    .plan-number{
        display: block;
        padding: 12px 32px;
        border: 1px solid $blue;
        border-radius: 27px;
        color: $blue;
        font-size: 18px;
        line-height: 26px;
        margin: 0 8px;
        white-space: nowrap;
        &:hover{
            background: $blue;
            color: white;
        }
    }
    .bg-blue{
        background: $blue;
        color: white;
    }
}
.plan-list{
    display: flex;
    justify-content: space-between;
    width: 909px;
    margin: 48px auto;
    .plan-item{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        width: 444px;
        background: white;
        h3{
            font-size: 24px;
            line-height: 35px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .plan-text{
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding: 32px;
        }
    }
    .plan-feature{
        padding: 29px;
        li{
            background-image: url(../image/icon_check.svg);
            background-position: left center;    
            background-size: 16px;
            background-repeat: no-repeat;
            font-size: 16px;
            line-height: 24px;
            padding-left: 20px;
            margin-bottom: 16px;
        }
    }
    .plan-action{
        text-align: center;
        margin-bottom: 50px;
        a{
            padding: 12px 32px;
            border-radius: 27px;
            color: white;
            background: $blue;
            font-size: 18px;
            line-height: 26px;
            &:hover{
                background: #FF5D50;
            }
        }
    }
}
.plan-equal{
    display: flex;
    justify-content: center;
    align-items: center;
    .equal{
        margin: 0 17px;
        font-size: 25px;
    }
    .subscriber,.subscriber-cost{
        background: #F5F5F5;
        border-radius: 12px;
        padding: 24px 32px;
        h4{
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }
        p{
            font-size: 32px;
            line-height: 35px;
            color: $blue;
            sub{
                font-size: 12px;
                line-height: 17px;
                margin-left: 8px;
            }
        }
    }
    .subscriber-cost{
        p{
            color: black;
        }
    }
}
@media (max-width: 768px){
    .plan-choose{
        justify-content: flex-start;
        padding: 16px;
    }
    .plan-list{
        display: block;
        width: 100%;
        .plan-item{
            margin: 0 auto;
        }
        .plan-action{
            padding-bottom: 36px;
        }
    }
}
@media (max-width: 375px){
    .plan-choose{
        margin-top: 24px;
        .plan-number{
            padding: 8px 16px;
            font-size: 16px;
            line-height: 24px;
            margin: 0 3px;
        }
    }
    .plan-list{
        .plan-item{
            width: 90%;
            .plan-text{
                padding: 32px 16px;
            }
        }
        .plan-feature{
            padding: 16px;
            li{
                background-size: 14px;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .plan-action{
            padding-bottom: 36px;
        }
    }
    .plan-equal{
        padding: 0 16px;
        .equal{
            margin: 0 6px;
            font-size: 12px;
        }
        .subscriber,.subscriber-cost{
            padding: 16px 24px;   
            p{
                font-size: 28px;
                line-height: 32px;
                margin-top: 8px;
                sub{                    
                    margin-left: 2px;
                }
            }
        }
    }
}
.QA-list{
    margin: 48px auto 100px;
    padding: 0 16px;
}
.QA-item{
    padding: 16px 32px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    .QA-title{
        font-size: 18px;
        line-height: 28px;
    }
    .QA-answer{
        font-size: 16px;
        line-height: 32px;
        color: #747474;
        margin-top: 24px;
    }
    .QA-plus{
        background-image: url(../image/icon_plus.svg);
        background-position: center right;    
        background-size: 20px;
        background-repeat: no-repeat;
    }
    .QA-minus{
        background-image: url(../image/icon_minus.svg);
        background-position: center right;    
        background-size: 20px;
        background-repeat: no-repeat;
    }
}
.blue{
    color: $blue;
}
@media (max-width: 375px){
    .QA-item{
        padding: 16px;
        .QA-title{
            font-size: 16px;
            line-height: 24px;
        }
        .QA-answer{
            margin-top: 16px;
        }
        .QA-plus{
            background-size: 16px;
        }
        .QA-minus{
            background-size: 16px;
        }
    }
}
.pricing-footer{
    .right{
        background: #F5F5F5;
        padding: 16px;
        text-align: center;
    }
}